body, .navbar, .nav-link, footer {
    font-family: "Montserrat", sans-serif !important;
}

.navbar{
    padding-left: 3%;
    padding-right: 3%;
}

#group{
    display: flex;
    justify-content: space-evenly;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 2px solid #000000;
    margin: 20px auto;
}

footer {
    font-size: 9pt;
}

footer a{
    color: #000000;
}

#fLeft{
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-left: 5%;
}

#fRight{
    display: flex;
    justify-content: end;
    margin-right: 5%;
}

input{
    border-radius: 5px;
}


@media only screen and (max-width: 768px) {


    footer{
        font-size: 8pt;
    }

    #fLeft{
        display: flex;
        justify-content: start;
        gap: 5px;
        margin-left: 5%;
    }
    
    #fRight{
        display: flex;
        justify-content: end;
    }
}